:root {
  --main-font: 'Roboto', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --accent-button: #188ce8;
  --main-lite-color: #ffffff;
  --background-light-color: #f5f4fa;
  --background-dark-color: #2f303a;
  --main-dark-color: #000000;
  --icon-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(-main-lite-color);
  font-size: 14px;
}

*::before,
*::after {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-dark-color);
  letter-spacing: 0.03em;
}

.header .logo {
  margin-right: 93px;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.footer .logo {
  color: var(--main-lite-color);
}

.logo-web-part {
  color: var(--accent-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0 auto 50px;
  text-align: center;
}

.social-links-list {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.team__social-link {
  color: var(--icon-color);
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function);
}

.team__social-link:hover, .team__social-link:focus {
  background-color: var(--accent-color);
  color: var(--main-lite-color);
}

.social-link-icon {
  fill: currentColor;
}

.footer-social-links-list {
  display: flex;
  justify-content: space-between;
}

.footer__social-link {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--time-function);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-link-icon {
  fill: var(--main-lite-color);
}

.subscribe-container {
  margin-left: auto;
}

.subscribe-caption {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-lite-color);
}

.subscribe {
  display: flex;
  align-items: center;
}

.subscribe-input {
  display: block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--main-lite-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition: border-color 250ms var(--time-function);
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-btn {
  display: block;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-lite-color);
  font-family: inherit;
  border: 0;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  margin: 30px auto 0;
  transition: background-color 250ms var(--time-function);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--accent-button);
  cursor: pointer;
}

.subscribe .modal-btn {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.telegram-img {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 250ms;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--main-lite-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--time-function);
}

.close_modal-btn_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: var(--main-lite-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  top: 8px;
  right: 8px;
  transition: fill 250ms var(--time-function);
}

.close_modal-btn_button:focus, .close_modal-btn_button:hover {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal-form_input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--time-function);
}

.modal-form_input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.acceptanse {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.acceptanse::before {
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  margin-right: 7px;
}

.acceptanse:hover {
  cursor: pointer;
}

.therm-checkbox:checked + .acceptanse::before {
  background-image: url("../images/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.therm-checkbox:focus + .acceptanse::before {
  border-color: var(--accent-color);
}

.terms-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-form_label {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}

.modal-form_input-wrapper {
  margin-bottom: 10px;
  position: relative;
}

.modal-form_icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--time-function);
}

.modal-form_input:focus + .modal-form_icon {
  fill: var(--accent-color);
}

form .modal-btn {
  align-self: center;
}

.modal-form_textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}

.modal-form_textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form_textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox_line {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border: 0;
  background-color: var(--background-light-color);
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms var(--time-function), background-color 250ms var(--time-function), box-shadow 250ms var(--time-function);
}

.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--main-lite-color);
  cursor: pointer;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.portfolio-item-link {
  display: block;
  transition: box-shadow 250ms var(--time-function);
}

.portfolio-item-link:hover, .portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-subtitle-wrapper {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-bottom: 4px;
  color: var(--main-color);
}

.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.portfolio-overlay_container {
  position: relative;
  overflow: hidden;
}

.portfolio_overlay {
  position: absolute;
  height: 294px;
  left: 0;
  top: 0;
  transform: translateY(101%);
  transition: transform 250ms;
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: var(--main-lite-color);
  overflow: auto;
}

.portfolio-item-link:hover .portfolio_overlay,
.portfolio-item-link:focus .portfolio_overlay {
  transform: translateY(0);
}

.header {
  background-color: var(--main-lite-color);
  border-bottom: #ececec solid;
}

.header .container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding: 32px 0;
  transition: color 250ms var(--time-function);
  position: relative;
}

.navigation-link:hover, .navigation-link:focus {
  color: var(--accent-color);
}

.navigation-link::after {
  content: '';
  background-color: var(--accent-color);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 250ms;
}

.navigation-link:hover::after, .navigation-link:focus::after {
  transform: scaleX(1);
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.active-navigation-link {
  color: var(--accent-color);
}

.active-navigation-link::after {
  content: '';
  background-color: var(--accent-color);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  transform: scale(1);
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-icons {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}

.header-contact:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding: 32px 0;
  transition: color 250ms var(--time-function);
}

.header-contacts:hover, .header-contacts:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-dark-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bcgr-img.jpg);
  padding: 200px 0;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-lite-color);
  width: 696px;
  text-align: center;
  margin: 0 auto;
}

.about-list {
  display: flex;
}

.about-element {
  width: 270px;
}

.about-element:not(:last-child) {
  margin-right: 30px;
}

.about-img-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-light-color);
}

.about-list-item {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-list-text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.section + .what-we-do {
  padding-top: 0;
}

.we-do-list {
  display: flex;
  justify-content: space-between;
}

.we-do_item {
  position: relative;
}

.we-do_decription {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-lite-color);
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-member-card {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--main-lite-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 270px;
}

.team-member-wrapper {
  padding: 30px 32px;
}

.team-members {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.member-porofession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-align: center;
  margin-top: 10px;
}

.team {
  background-color: var(--background-light-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: border-color 250ms var(--time-function), color 250ms var(--time-function);
}

.client-link:hover, .client-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: var(--background-dark-color);
}

.internal-links {
  margin-right: 70px;
}

.footer-contacts-list {
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.address {
  color: var(--main-lite-color);
  transition: color 250ms var(--time-function);
}

.address:hover, .address:focus {
  color: var(--accent-color);
}

.footer-contacts {
  display: block;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--time-function);
}

.footer-contacts:hover, .footer-contacts:focus {
  color: var(--accent-color);
}

.footer-contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.join-us-links-list {
  width: 206px;
  height: 80px;
}

.join-us-caption {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-lite-color);
}
/*# sourceMappingURL=main.css.map */