.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal-form_input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms var(--time-function);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.acceptanse {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  &::before {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin-right: 7px;
  }

  &:hover {
    cursor: pointer;
  }

  .therm-checkbox:checked + &::before {
    background-image: url('../images/Vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.therm-checkbox:focus + .acceptanse::before {
  border-color: var(--accent-color);
}

.terms-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-form_label {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}

.modal-form_input-wrapper {
  margin-bottom: 10px;
  position: relative;
}

.modal-form_icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--time-function);

  .modal-form_input:focus + & {
    fill: var(--accent-color);
  }
}

form .modal-btn {
  align-self: center;
}

.modal-form_textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-checkbox_line {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
