.subscribe-container {
  margin-left: auto;
}

.subscribe-caption {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-lite-color);
}

.subscribe {
  display: flex;
  align-items: center;
}

.subscribe-input {
  display: block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--main-lite-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition: border-color 250ms var(--time-function);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}
