p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(-main-lite-color);
  font-size: 14px;
}

*::before,
*::after {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding: 94px 0px;
}
